@using TransportLogistics.ViewModels.Orders;
@model NewOrderViewModel;
@{
    ViewData["Title"] = "Test";
}

@*
    <input type="hidden" asp-for="OrderId" />
    <input type="hidden" asp-for="Status" />

    <div class="form-group">
        <label asp-for="PickUpAddress"></label>
        <input asp-for="PickUpAddress" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="PickUpAddress"></span>
    </div>

    <div class="form-group">
        <label asp-for="DeliveryAddress"></label>
        <input asp-for="DeliveryAddress" type="text" class="form-control" />
        <span asp-validation-for="DeliveryAddress" class="text-danger"></span>

    </div>
*@

    <div class="form-group">

        <select id="EventId" name="eventId" asp-for="RecipientId" asp-items="@Model.CustomerList" onchange="showValue(this.value);">
        </select>

    </div>


<select id="SecondDropdown" name="eventId">
</select>

<div class="form-group">

    <select asp-for="Location2Id" asp-items="@Model.Location2">
    </select>

</div>
<div class="form-group">
    <label asp-for="Price"></label>
    <input asp-for="Price" type="number" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>

<input id="button1" type="button" value="Click!" />
<script>
    $(document).ready(function () {
        $('#button1').click(function () {
            alert($('#EventId :selected').text());
        });
    });
</script>