

<table id="ordersTable" class="table table-striped table-bordered" style="width:100%">
    <thead class="dropdown text-center">
        <tr>
            <th>Pickup Address</th>
            <th>Delivery Address</th>
            <th>Recipient</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>