@using TransportLogistics.ViewModels.Orders
@{
    ViewData["Title"] = "Orders";
}

<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.bootstrap4.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.dataTables.min.css" />

<div class="row d-flex justify-content-between mt-3 mb-3 mr-auto">
    <button class="btn-car ml-3" onclick="goToRoutes()">Define Route <i class="fa fa-box"></i></button>
    <button class="btn-car" onclick="LoadNewOrderView()" data-toggle="modal" data-target="#newOrderModal">New Order <i class="fa fa-box"></i></button>
</div>

<div id="ordersTableContainer"></div>

<form method="post" asp-controller="Orders" asp-action="NewOrder"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#newOrderModal')"
      data-ajax-mode="replace"
      data-ajax-update="#newOrderBody">

    <div class="modal fade" id="newOrderModal" tabindex="-1" aria-labelledby="newOrderTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 70%">
                <div class="modal-header">
                    <h5 class="modal-title" id="newOrderTitle">New Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="newOrderBody">
                    <partial name="_NewOrderPartial" model="new NewOrderViewModel()" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>



@section Scripts {
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables/Responsive-2.2.3/js/dataTables.responsive.min.js"></script>
    <partial name="_ValidationScriptsPartial" />


    <script type="text/javascript">
        $(document).ready(function () {
            loadTable();
        });

        function loadTable() {
            loadServerPartialView("#ordersTableContainer", "/Orders/OrdersTable").done(function () {
                $('#ordersTable').DataTable({ responsive: true, "lengthMenu": [5, 10, 25, 50] });
            });
        }

        function LoadNewOrderView() {
            loadServerPartialView("#newOrderBody", '@Url.Action("NewOrder", "Orders")');
        }

        function modalFormComplete(modalName) {
            $(modalName).modal("hide");
            loadTable();
        }

        function goToRoutes() {
            document.location = '@Url.Action("Index", "Routes")';
        }


        $("#EventId").on("change", function(){
            showValue($(this).val());
        })





function showValue(val)
{
    var val = $('#dropDownId').val();
    console.log(val);
    $.getJSON('@Url.Action("GetDropdownList", "Orders")' + "/" + EventId, function (result) {
            $("#SecondDropdown").html(""); // makes select null before filling process
            var data = result.data;
            for (var i = 0; i < data.length; i++) {
                $("#SecondDropdown").append("<option>"+ data[i] +"</option>")
            }

    })
    
}

        function loadCustomerAddreses(customerControl,dropDownId) {

            var customerId = $(customerControl).val();
            $.getJSON('@Url.Action("GetCustomerLocations","Orders")' + "/" + customerId, function (result) {
                $(dropDownId).html("");
                var data = result.data;
                for (var i = 0; i < data.length; i++) {
                    $(dropDownId).append("<option value = " + data[i].id + "> " + data[i].street + ", " + data[i].streetNumber + "</option>")
                }
            });
        }
    </script>
}