@model TransportLogistics.ViewModels.Dispatchers.TrailerRequestViewModel
@{
    ViewData["Title"] = "TrailerRequest";
    Layout = null;
}

    <form method="post" asp-controller="Dispatchers" asp-action="TrailerRequest">
        <div class="form-group">
            <label>Trailer:</label>
            <input type="text" name="trailerNumber" class="form-control" list="trailerList" id="trailerNr">
            <datalist id="trailerList">
                @if (Model.Trailers.Count() > 0 && Model.Trailers != null)
                {
                    @foreach (var trailer in Model.Trailers)
                    {
                        <option>@trailer.RegistrationNumber</option>
                    }
                }
            </datalist>
            </div>>
            <br />
        <div class="form-group">
            <label>Vehicle:</label>
            <input type="text" name="vehicleNumber" class="form-control" list="vehicleList" id="vehicleNr" />
            <datalist id="vehicleList">
                @if (Model.Vehicles.Count() > 0 && Model.Vehicles != null)
                {
                    foreach (var vehicle in Model.Vehicles)
                    {
                        <option>@vehicle.RegistrationNumber</option>
                    }
                }
            </datalist>
        </div>
    </form>

