@{
    ViewData["Title"] = "Home Page";
}

    <div style="display:flex;align-items:center;justify-content:space-around;height:70vh;">

        <div style="max-width:350px">
            
                <h1 class="message-current-title" >Cargo Delivery</h1>
            
            <p style="font-size:18px">
                We are an American multinational delivery services company headquartered in Memphis, Tennessee.
               The company is known for its overnight shipping service and pioneering a system that could track packages and provide real-time updates on package location.
            </p>
        </div>
        <div>
            <img src="~/delivering.jpg" />
            
        </div>
    </div>