@model IEnumerable<TransportLogistics.Model.Trailer>
@{
    ViewData["Title"] = "Trailers";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.bootstrap4.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.dataTables.min.css" />

@section Scripts {
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables/Responsive-2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.min.js"></script>

}

<table id="Trailers"  class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th style="text-align:center"><b>Length</b></th>
            <th style="text-align:center"><b>Height</b></th>
            <th style="text-align:center"><b>Width</b></th>
            <th style="text-align:center"><b>Request</b></th>

            
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var trailer in Model)
            {
                <tr>
                    <td>@trailer.Length</td>
                    <td>@trailer.Height</td>
                    <td>@trailer.Width</td>
                    <td><a class="btn bg-menu" asp-controller="Drivers" asp-action="TrailerRequest" asp-route-trailerId="@trailer.Id">Choose</a></td>
                </tr>
            }
        }
    </tbody>
    </table>

