@model IEnumerable<TransportLogistics.Model.Trailer>
@{
    ViewData["Title"] = "Trailers";
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.bootstrap4.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.dataTables.min.css" />

@section Scripts {
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables/Responsive-2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.min.js"></script>

}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css" />

<form method="post" asp-controller="Drivers" asp-action="TrailerRequest" >
    <label>Trailer:</label>
    <input type="text" name="registrationNumber" list="exampleList" id="regNmb" onchange="displayTrailerInfo()" class="form-control">
    <datalist id="exampleList">
        @if (Model != null && Model.Count() > 0)
        {

            @foreach (var trailer in Model)
            {

                <option>@trailer.RegistrationNumber</option>

            }
        }
    </datalist>
    <br />
    <br />
    <b id="info"></b>
    <br />
    <br />
    <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="submit" id="confirm" class="btn bg-menu">Ok</button>

    </div>
</form>

<script>
 
    function displayTrailerInfo() {

        var registrationNr = $('#regNmb').val();
        var model = @Html.Raw(Json.Serialize(Model));
        for (var i = 0; i < model.length; i++) {
            if (registrationNr == model[i].registrationNumber) {
                $('#info').html("Length: " + model[i].length + " width:" + model[i].width + " height: " + model[i].height);
            }
        }
    }
   
</script>