
@{
    ViewData["Title"] = "Orders";
}

    <h1>Orders</h1>

    <div class="row d-flex justify-content-end mt-3 mb-3 mr-auto">
        <button class="btn-car" data-toggle="modal" data-target="#orderModal">New Order <i class="fa fa-box"></i></button>
    </div>