@using TransportLogistics.ViewModels.Routes
@model ChangeVehicleViewModel

<input type="hidden" asp-for="RouteId" />

<div class="form-group text-center">
    <label asp-for="VehicleId"></label>
    <div>
        <select style="min-width: 60%" asp-for="VehicleId" asp-items="@Model.VehicleList">
        </select>
    </div>
    <span asp-validation-for="VehicleId" class="text-danger"></span>
</div>