@using TransportLogistics.ViewModels.Routes
@model RouteViewModel;


<table id="routesTable" class="table table-striped table-bordered" style="width:100%">
    <thead class="dropdown text-center">
        <tr>
            <th></th>
        </tr>
    </thead>

    
    <tbody>
        
        @foreach (var route in Model.Routes)
        {
        <tr>
            <td>@route.Id</td>
            <td>@route.RouteEntries</td>
        </tr>
        }

    </tbody>
</table>