/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.btn-car {
    background-color: #06087d; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer !important; /* Mouse pointer on hover */
}
    .btn-car:hover {
        background-color: #4648c7;
    }
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.bg-menu {
    background-color: #06087d !important;
    color: #FFFFFF !important;
    border-bottom: 1px solid #046504 !important;
}

.modal-delete {
    margin-top: 9rem;
    margin-left: 8rem;
   
}

.maxim-width-input{
    width: 450px;
}

.btn-blue {
    border-color: #06087d;
    color: #06087d;
    min-width: 10rem;
}
    .btn-blue:hover {
        background-color: #06087d;
        color: white;
    }

.btn-add-blue {
    border-color: #06087d;
    color: #06087d;
}

    .btn-add-blue:hover {
        background-color: #06087d;
        color: white;
    }

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #06087d !important;
    border-color: #06087d !important;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #06087d !important;
    background-color: #fff;
    border: 1px solid #dee2e6;
}