<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Transport Logistics</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-toggleable navbar-dark bg-menu border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Transport Logistics</a>
                <button class="navbar-toggler hamburger-menu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars "></span>
                </button>

                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <partial name="_LoginPartial" />
                    <partial name="_MainMenuPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="modal fade modal-delete" tabindex="-1" id="request" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="max-width:80%">

                <div id="requestBody" class="modal-body">
                    <div class="text-center">


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade modal-delete" tabindex="-1" id="trailerRequest" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="max-width:80%">
        <div id="trailerRequestBody" class="modal-body">
                    <div class="text-center">


                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            <br />
            <br />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color:#1e1e8a">
        <div class="container">
            &copy; 2020 - Transport Logistics - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
