@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


    <ul class="navbar-nav flex-grow-1">
        <li>
            @if (User.IsInRole("Administrator"))
            {
                <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Manage
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a asp-controller="Trailers" asp-action="Index" class="dropdown-item">Trailers</a>
                        <a asp-controller="Vehicles" asp-action="Index" class="dropdown-item">Vehicles</a>
                        <a asp-controller="Customers" asp-action="Index" class="dropdown-item">Customers</a>
                        <a asp-controller="Administrators" asp-action="Index" class="dropdown-item">Accounts</a>
                    </div>
                </div>
            }
        </li>


        @if (User.IsInRole("Supervisor"))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Vehicles" asp-action="Index">
                    <i class="fas fa-car"></i>
                    Vehicles
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Trailers" asp-action="Index">
                    <i class="fas fa-trailer"></i>
                    Trailers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Requests" asp-action="Index">
                    <i class="fas fa-trailer"></i>
                    Requests
                </a>
            </li>
        }


        @if (User.IsInRole("Dispatcher"))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Customers" asp-action="Index">
                    <i class="fas fa-user"></i>
                    Customers
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Orders" asp-action="Index">
                    <i class="fas fa-boxes"></i>
                    Orders
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Dispatchers" asp-action="Index">
                    <i class="fas fa-truck"></i>
                    Drivers
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Routes" asp-action="Index">
                    <i class="fas fa-route"></i>
                    Routes
                </a>
            </li>
            <li class="nav-item">
                <a  data-toggle="modal" href="#trailer"class="nav-link text-light" data-ajax="true" data-ajax-url="/Dispatchers/TrailerRequest"
                   data-ajax-update="#trailerBody">
                    <i class="fas fa-trailer"></i>
                    TrailerRequest
                </a>
            </li>
        }
    
        @if (User.IsInRole("Driver"))
        {
            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Drivers" asp-action="Index">
                    <i class="fas fa-road"></i>
                    View Route
                </a>
            </li>

            <li>
                <a class="nav-link text-light" asp-area="" asp-controller="Drivers" asp-action="RoutesHistory">
                    <i class="fa fa-history" aria-hidden="true"></i>
                    Routes History
                </a>
            </li>

            <li>
                <a data-toggle="modal" href="#request1" class="nav-link text-light" data-ajax="true" data-ajax-url="/Drivers/Trailers"
                   data-ajax-update="#requestBody1">
                    Trailer Request
                    <i class="fas fa-trailer"></i>
                </a>
            </li>
        }
    </ul>
