
@{
    ViewData["Title"] = "EditUserAccount";
}

<h5>Something went wrong when trying to edit user account.You have to fill up with data all the fields</h5>
<a asp-controller="Administrator" asp-action="Index" >Go back to users</a>

