@using TransportLogistics.ViewModels.Customers;
@model NewCustomerViewModel;

@{
    ViewData["Title"] = "Creating";
}

<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" type="text" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="PhoneNo"></label>
    <input asp-for="PhoneNo" type="tel" class="form-control" />
    <span asp-validation-for="PhoneNo" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" type="email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>