@using TransportLogistics.Models.Customers;

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.bootstrap4.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.dataTables.min.css" />

<div class="row d-flex justify-content-end mt-3 mb-3 mr-auto">
    <button class="btn-car" data-toggle="modal" data-target="#customerModal">New Customer <i class="fa fa-user"></i></button>
</div>

<div id="customerTableContainer"></div>

<form method="post" asp-controller="Customers" asp-action="UpdateCustomer"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#updateCustomerModal')"
      data-ajax-mode="replace"
      data-ajax-update="#updateCustomerBody">

    <div class="modal fade" id="updateCustomerModal" tabindex="-1" role="dialog" aria-labelledby="UpdateCustomerTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 70%">
                <div class="modal-header">
                    <h5 class="modal-title" id="UpdateCustomerTitle">Update Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="updateCustomerBody">
                    <partial name="_UpdateCustomerPartial" model="new UpdateCustomerViewModel()" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Modify</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form method="post" asp-controller="Customers" asp-action="CreateCustomer"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#customerModal')"
      data-ajax-mode="replace"
      data-ajax-update="#customerBody">

    <div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerCreateTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 70%">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerCreateTitle">Create a new entity</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="customerBody">
                    <partial name="_NewCustomerPartial" model="new NewCustomerViewModel()" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form method="post" asp-controller="Customers" asp-action="AddLocation"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#locationModal')"
      data-ajax-mode="replace"
      data-ajax-update="#locationBody">

    <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="addLocationTitle" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 70%">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLocationTitle">Add a new location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="locationBody">
                    <partial name="_AddAddressPartial" model="new NewLocationViewModel()" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Add Location</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form method="post" asp-controller="Customers" asp-action="Remove"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-complete="modalFormComplete('#removeModal')"
      data-ajax-mode="replace"
      data-ajax-update="#removeBody">

    <div class="modal fade" id="removeModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog d-flex justify-content-center">
            <div class="modal-content" style="max-width: 60%">
                <div class="modal-body" id="removeBody">
                    <partial name="_RemoveCustomerPartial" model="new RemoveCustomerViewModel()" />
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables/Responsive-2.2.3/js/dataTables.responsive.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(document).ready(function () {
            loadTable(); 
        });

        function loadTable() {
            loadServerPartialView("#customerTableContainer", "/Customers/CustomerTable").done(function () {
                $('#customersTable').DataTable({ responsive: true });
            });
        }

        function LoadRemoveCustomerView(Id) {
            loadServerPartialView("#removeBody", '@Url.Action("Remove", "Customers")' + "/" + Id);
        }

        function LoadAddLocationView(Id) {
            loadServerPartialView("#locationBody", '@Url.Action("AddLocation", "Customers")' + "/" + Id);
        }

        function LoadUpdateCustomerView(Id) {
            loadServerPartialView("#updateCustomerBody", '@Url.Action("UpdateCustomer", "Customers")' + "/" + Id);
        }
        function modalFormComplete(modalName) {
            $(modalName).modal("hide");
            loadTable();
        }
    </script>
}