@model TransportLogistics.ViewModels.Vehicles.VehiclesListViewModel
@using TransportLogistics.ViewModels.Vehicles
@{
    ViewData["Title"] = "Index";
}



<div class="d-flex flex-column flex-md-row">
    <div class="d-flex flex-column flex-grow-1">

    </div>
    <div class="d-flex flex-column ">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn-car" data-toggle="modal" data-target="#newVehicleModal">
                    <i class="fa fa-car"></i>Add Vehicle
                </button>

            </div>
        </div>
    </div>
</div>

<div id="containerTableId">
    <partial name="_VehiclesTable" model="@Model" />
</div>

<form method="post" asp-controller="Vehicles" asp-action="Create">
    <div class="modal fade" id="newVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create vehicle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="contId">
                        <partial name="_Create" model="new NewVehicleViewModel()" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="post" asp-controller="Vehicles" asp-action="Update">
    <div class="modal fade" id="updateVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update vehicle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="updateFormId"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#vehiclesTabel').DataTable({ responsive: true });
        });

        function removeVehicle(id) {
            $.ajax({
                url: "Vehicle/Remove?id=" + id,
                success: function () {
                    document.getElementById("row-to-delete-" + id).style.display = "none";
                }
            });
        }

        function loadUpdatePage(id) {
            loadServerPartialView("#updateFormId", "Vehicle/Update?id=" + id);
        }
    </script>

}
