

@{
    ViewData["Title"] = "Index";
}

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<div class="d-flex flex-column flex-md-row">
    <div class="d-flex flex-column flex-grow-1">

    </div>
    <div class="d-flex flex-column ">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn-car">
                    <i class="fa fa-car"></i>Add Vehicle
                </button>

            </div>
        </div>
    </div>
</div>
<table id="Vehicles">
    <thead>
        <tr>
            <th>Vehicle Name</th>
            <th>Vehicle Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ford Tourneo Courier</td>
            <td>Small Transport</td>
        </tr>
        <tr>
            <td>VW Transporter</td>
            <td>Medium Transport</td>
        </tr>
    </tbody>
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#Vehicles').DataTable();
        });
    </script>


}
