@model TransportLogistics.ViewModels.Vehicles.VehiclesListViewModel
@using TransportLogistics.ViewModels.Vehicles
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="~/lib/datatables/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.bootstrap4.css" />
<link rel="stylesheet" type="text/css" href="~/lib/datatables/Responsive-2.2.3/css/responsive.dataTables.min.css" />

<div class="d-flex flex-column flex-md-row">
    <div class="d-flex flex-column flex-grow-1"></div>
    <div class="d-flex flex-column ">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn-car" data-toggle="modal" data-target="#createVehicleModal">
                    <i class="fa fa-car"></i>Add Vehicle
                </button>
            </div>
        </div>
    </div>
</div>

<div id="vehiclesTabelContainer">
    <partial name="_VehiclesTable" model="@Model" />
</div>

<form method="post" id="createVehicleForm">
    <div class="modal fade" id="createVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create vehicle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="createVehicleContainer">
                        <partial name="_Create" model="new NewVehicleViewModel()" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="createVehicleButton" data-dismiss="modal" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="deleteVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete vehicle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>Are you sure you want to delete this vehicle?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="submit" id="deleteVehicleButton" data-dismiss="modal" class="btn btn-primary" onclick="removeVehicle(id)">Yes</button>
            </div>
        </div>
    </div>
</div>

<form method="post" id="updateVehicleForm" asp-controller="Vehicles" asp-action="Update">
    <div class="modal fade" id="updateVehicleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update vehicle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="updateVehicleContainer">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button data-vehicle-id="" id="updateVehicleButton" type="submit" data-dismiss="modal" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts{

    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables/Responsive-2.2.3/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#vehiclesTable").DataTable({ responsive: true });
        });

        function sendVehicleIdToModal(id) {
            document.getElementById("updateVehicleButton").setAttribute("data-vehicle-id", id);
        }

        function removeVehicle() {
            var id = document.getElementById("updateVehicleButton").getAttribute("data-vehicle-id");
            $.ajax({
                url: "Vehicles/Remove?id=" + id,
                success: function () {
                    document.getElementById("row-to-delete-" + id).style.display = "none";
                }
            });
        }

        $("#createVehicleButton").on("click", function () {
            var createVehicleForm = $("#createVehicleForm").serialize();
            $.ajax({
                type: "POST",
                data: createVehicleForm,
                url: "/Vehicles/Create",
                success: function () {
                    loadServerPartialView("#vehiclesTabelContainer", "/Vehicles/VehiclesTable");
                }
            });
        });

        function loadVehicleInModal(id) {
            loadServerPartialView("#updateVehicleContainer", "Vehicles/Update?id=" + id);
        }

        $("#updateVehicleButton").on("click", function () {
            var createVehicleForm = $("#updateVehicleForm").serialize();
            $.ajax({
                type: "POST",
                data: createVehicleForm,
                url: "/Vehicles/Update",
                success: function () {
                    loadServerPartialView("#vehiclesTabelContainer", "/Vehicles/VehiclesTable");
                }
            });
        });
    </script>
}
